html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{
	max-width: 100%;
	margin-top: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
}


.wrap2{
	margin:0 auto;
	width:100%;
}

.col-iz{
	width:30%;
	display: block;
	float: left;
	background-color: #fbf9fa;
	height: 240px;
}
.col-iz2{
	width:22%;
	display: block;
	float: left;
	background-color: #FFF;
	height: 400px;
}
.col-der{
	width:70%;
	background-color: #fbf9fa;
	display: block;
	float: left;
	height: 240px;
}
.col-der2{
	width:75%;
	background-color: #fbf9fa;
	display: block;
	float: right;
	height: 300px;
	padding: 15px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #069;
	font-size: 0.9em;
	text-align: center;
}
.menu-iz{
	width:100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #036;
	font-weight: normal;
	text-align: right;
	margin: 1%;
}
.menu-iz2{
	width:80%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.75em;
	color: #666;
	font-weight: normal;
	text-align: left;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-left: 14%;
	line-height: 25px;
}



.header{
	width: 100%;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.1em;
	color: #0CF;
}

.pie{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.6em;
	color: #CCC;
	text-align: center;
	width: 100%;
	display: block;
}

.contenedor-formprof{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.7em;
	color: #036;
	}
	.mod-contacto1{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #036;
	width: 40%;
	float: left;
	text-align: right;
	line-height: auto;
	display: block;
	margin-top: 0%;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
	margin-left: 0.5%;
	}
	
	.titulos-autogestion{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.3em;
	color: #09F;
	font-variant: small-caps;
	margin-bottom: 10px;
	text-align: center;
	}
	
	.titulo-autogestion2{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.85em;
	font-weight: bold;
	color: #036;
	background-color: #F4F4F4;
	letter-spacing: 0.1em;
	padding-top: 0.6%;
	padding-right: 0.6%;
	padding-bottom: 0.6%;
	padding-left: 6%;
	margin: 0px;
		}
		
		.titulo-sector-autogestion{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0.8em;
	color: #036;
	margin-bottom: 15px;
	margin-top: 15px;
			}
			
		.inhibido{
	color: #0CF;
		}
		
		.menu-registro{
	width:40%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #036;
	font-weight: normal;
	float: left;
	margin-top: 5%;
	margin-right: 40%;
	margin-bottom: 5%;
	margin-left: 20%;
	text-align: center;
		}
		
				.menu-registro2{
	text-align: right;
		}
		
		
		
/*end reset*/


	/***** Media Quries *****/
@media only screen and (max-width: 1366px) {


@media only screen and (max-width: 1280px) {

.col-iz{
	width:30%;
	display: block;
	float: left;
	background-color: #fbf9fa;
	height: 240px;
}

.col-der{
	width:70%;
	background-color: #fbf9fa;
	display: block;
	float: left;
	height: 240px;
}
.menu-iz{
	width:80%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #036;
	font-weight: normal;
	text-align: center;
	margin: 5%;
}
@media only screen and (max-width: 800px) {
.col-iz{
	width:90%;
	display: block;
	float: left;
	background-color: #fbf9fa;
	height: 240px;
}

.col-der{
	width:90%;
	background-color: #fbf9fa;
	display: block;
	float: left;
	height: 240
px;
}
.menu-iz{
	width:50%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #036;
	font-weight: normal;
	text-align: center;
	margin: 5%;
}

@media only screen and (max-width: 640px){
.wrap2{
	margin:0 auto;
	width:100%;
}

.col-iz{
	width:100%;
	display: block;
	float: left;
	background-color: #fbf9fa;
	height: 250px;
}
.col-der{
	width:100%;
	background-color: #fbf9fa;
	display: block;
	float: left;
	height: auto;
}
.menu-iz{
	width:90%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #036;
	margin: 5%;
	font-weight: normal;
	text-align: center;
}


.header{
	width: 90%;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.1em;
	color: #0CF;
}

.pie{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.6em;
	color: #CCC;
	text-align: center;
}
	.mod-contacto1{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #036;
	width: 80%;
	float: left;
	text-align: right;
	line-height: normal;
	display: block;
	margin-top: 0%;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
	margin-left: 0.5%;
	}

@media only screen and (max-width: 480px) {
	
	
